@model ColecaoFilmes.Dominio.Entidades.Filme
@{
    View.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Delete</h2>
<h3>
    Are you sure you want to delete this?</h3>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Fields</legend>
        <div class="display-label">
            NomeOriginal</div>
        <div class="display-field">@Model.NomeOriginal</div>
        <div class="display-label">
            ImdbId</div>
        <div class="display-field">@Model.ImdbId</div>
        @Html.HiddenFor(model => model.Id);
    </fieldset>
    <p>
        <input type="submit" value="Delete" />
        | @Html.ActionLink("Back to List", "Index")
    </p>
}
